---
import BaseLayout from '../layouts/BaseLayout.astro'
import {getPresentation} from '../utils/functions/getData'

const presentation = await getPresentation()

console.log(presentation)
---

<BaseLayout>
	<h1 class="bg-slate-500 font-star text-[#ffffff] font-semibold text-[40px]">{presentation.name}</h1>

</BaseLayout>