---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/HeroSection.astro'
import InfoSection from '../components/InfoSection.astro'
import Footer from '../components/Footer.astro'
import { getServices, getValues } from '../utils/functions/getData'
import ContactSection from '@/components/ContactSection.astro'
const services = getServices()
const values = getValues()
---

<BaseLayout>
	<Hero/>
	<main class="w-full sm:px-16 py-10 md:bg-cover md:bg-right md:opacity-95 md:bg-[url('/image-body.png')]">
		<InfoSection data={values} name='Mi compromiso' nameId="mi-compromiso" />
		<InfoSection data={services} name="Servicios" nameId="servicios" />
		<ContactSection />
	</main>
	<div class="fixed right-8 bottom-8">
		<a href="https://wa.link/69gey1" target="_blank"><img src="/contact_whatsapp.svg" alt="Whatsapp"></a>
	</div>
	<Footer />
</BaseLayout>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		const links = document.querySelectorAll(".smooth-scroll");
  
		links.forEach(function(link) {
			link.addEventListener("click", function(event) {
				event.preventDefault();
  
				const sectionId = this.getAttribute("href");
				scrollToSection(sectionId.substring(1)); // Eliminar el "#" del inicio
			});
		});
  
		const scrollToSection = (sectionId) => {
			const section = document.getElementById(sectionId);
			if (section) {
				section.scrollIntoView({
					behavior: "smooth"
				});
			}
		};
	});
  </script>