---
component: "Link"
---
<div class="flex items-center max-w-36 h-9 bg-[#7e8c79] font-choco text-xl font-semibold text-[#F1EDEC] rounded-lg  transition duration-300 ease-in-out transform hover:scale-105 hover:bg-opacity-80 hover:bg-[#3F4D39]">
    <a class="smooth-scroll px-6 py-1" href="#form">Hablemos</a>
</div>


