---
---
<section class="w-full bg-[#DBB7AB] px-6">
    <div class=" w-full container mx-auto flex flex-col items-center font-yeseva font-extrabold text-[#3F4D39] text-2xl pt-8">
        <h3 class="mb-8 text-center text-4xl">Sigamos en contacto</h3>
        <ul class="flex justify-between gap-6">
            <li class=" w-10"><a href="https://www.instagram.com/abogada.roblesdaniela/" target="_blank"><img src="/social_media_instagram.svg" alt="Instagram"></a></li>
            <li class="w-10"><a href="https://www.facebook.com/profile.php?id=61556326266578" target="_blank"><img src="/social_media_facebook.svg" alt="Facebook"></a></li>
            <li class="w-10"><a href="maito:estudiojuridicoroblesdaniela@gmail.com" target="_blank"><img src="/social_media_email.svg" alt="Email"></a></li>
            <li class="w-10"><a href="https://wa.link/69gey1" target="_blank"><img src="/social_media_whatsapp.svg" alt="Whatsapp"></a></li>
        </ul>
    </div>
    <div class="w-full flex flex-col font-choco font-bold text-xl text-[#ffffff] py-8 md:flex-row md:justify-around">
        <div class="flex flex-col mb-8">
            <p class="font-extrabold">Horario de atención:</p>
            <p>Lunes a Viernes solo con cita previa.</p>
            <p>Sabados, domingos y feriados cerrado.</p>
        </div>
        <div class="flex flex-col mb-8">
            <p><span class="font-extrabold">Dirección:</span> Don Bosco 109. Trelew, Argentina</p>
            <p><span class="font-extrabold">Celular:</span> 0280 435-8692</p>
            <p><span class="font-extrabold">Email:</span> estudiojuridicoroblesdaniela@gmail.com</p>
        </div>
    </div>
</section>